.red {
  color: var(--red);
}


@mixin sectionContainer {
  z-index: 2;
  padding: var(--space--lg) 0;
  height: 100%;
  min-height: 100vh;
}

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-down {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin for-laptop-down {
  @media screen and (max-width: 1440px) {
    @content;
  }
}