.red {
  color: var(--red);
}

.bolded {
  font-weight: 700;
}

.no-underline {
  text-decoration: none;
}


@mixin sectionContainer {
  height: 100%;
  display: flex;
  min-height: 100vh;
  padding: var(--space--xl) 0;

  @include for-tablet-down {
    padding: var(--space--lg) 0;
  }
}

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-down {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin for-laptop-down {
  @media screen and (max-width: 1440px) {
    @content;
  }
}