section.fourZeroFour {
  @include sectionContainer;
  justify-content: center;
  align-items: center;

  .fourZeroFour--wrapper {
    width: 50%;
    overflow: hidden;

    @include for-tablet-down {
      width: 76%;
    }
  }

  .content--wrapper {
    padding: 0 var(--space--lg);
    max-width: 728px;

    @include for-tablet-down {
      padding: 0 var(--space--md);
    }

    @include for-phone-only {
      padding: 0 var(--space--sm);
    }
  }

  h1 {
    text-align: center;

    @include for-laptop-down {
      font-size: 4.25vw;
    }

    @include for-tablet-down {
      font-size: var(--txt--lg);
    }

    &:last-of-type {
      margin-bottom: var(--space--xl);
    }
  }

  p {
    text-align: center;
    font-size: var(--txt--md);
    line-height: 1.5;

    @include for-laptop-down {
      font-size: var(--txt--base);
    }

    @include for-phone-only {
      font-size: 14px;
    }
  }
}