section.intro {
  @include sectionContainer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

  .intro--wrapper {
    display: flex;
    align-items: stretch;
  }

  .content--wrapper {
    padding: 0 var(--space--lg);
    max-width: 728px;
  }

  p {
    font-size: var(--txt--md);
    line-height: 1.5;
  }
}