section.intro {
  @include sectionContainer;
  justify-content: center;
  align-items: center;

  .intro--wrapper {
    width: 50%;
    overflow: hidden;
  }

  .content--wrapper {
    padding: 0 var(--space--lg);
    max-width: 728px;
  }

  p {
    font-size: var(--txt--md);
    line-height: 1.5;

    @include for-laptop-down {
      font-size: var(--txt--base);

    }
  }
}