main.home {
  .logo {
    position: fixed;
    left: var(--space--xl);
    top: var(--space--xl);
    max-width: var(--space--xxl);
    height: auto;

    @include for-laptop-down {
      left: var(--space--lg);
      top: var(--space--lg);
    }

    @include for-tablet-down {
      top: var(--space--md);
      right: 12%;
      opacity: 0.3;
      z-index: -1;
      width: 90px;
      height: auto;
      left: unset;
    }
  }
}