section.work {
  @include sectionContainer;
  position: relative;

  .work-section-title--wrapper {
    width: 25%;
    position: relative;
  }

  .work-section--title {
    margin: 0;
    position: absolute;
    top: var(--space--lg);
    right: var(--space--lg);
    transform: rotate(90deg) translateX(100%) translateY(0%);
    transform-origin: top right;
    font-size: var(--txt--lg);

    span {
      padding-left: 4px;
    }

    @include for-laptop-down {
      font-size: var(--txt--md);
    }
  }

  .link-content--wrapper {
    display: flex;
  }

  .work-info--wrapper {
    position: absolute;
    top: 0;
  }

  .work-item-number {
    display: inline-block;
    transform: rotate(90deg);
    position: absolute;
    top: 15px;
    letter-spacing: 2px;
    left: calc(var(--space--lg) * -1);
  }

  .link--wrapper {
    padding: 0 var(--space--lg);
    overflow: hidden;
    width: 66.75%;
  }

  .work--link {
    text-decoration: none;
    font-weight: 700;
    text-align: left;
    line-height: 1.2;
    margin-bottom: 0;
    display: block;

    &:hover {
      color: gray;
    }
  }

  ul {
    flex: 1;
    padding: var(--space--lg) 0 0 0;
  }

  li {
    margin-bottom: var(--space--xl);
    position: relative;
  }

  aside {
    flex: 1;
    position: relative;
    padding-top: 15px;

    h2 {
      font-weight: 700;
      line-height: 1;
      text-align: left;
      padding: 0 var(--space--md);
      font-size: var(--txt--md);
      margin-bottom: var(--space--sm);
    }

    p {
      padding: 0 var(--space--md);
      margin: 0;
      line-height: 1.5;
      max-width: 350px;
    }

    @include for-laptop-down {
      h2 {
        font-size: 1.8vw;
      }

      p {
        font-size: 1vw;
        line-height: 2;
      }
    }
  }
}